:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
}

  * {
    font-family: 'Poppins', sans-serif;
    color: var(--purple);
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    height: 100vh;
    align-items: center;
    background-color:var(--body-bg-color);
}

/*USUÁRIO ------------------------------*/

.perfil {
    width: 200px;
    border-radius: 102px;
}

.circle {
    border: 1px solid var(--purple);
    border-radius: 110px;
    width: 204px;
    height: 204px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 2px;
    padding-right:1px;
}

.userName {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 100;
}


/*LINKS ------------------------------*/

.badge-item {
    display: flex;
    justify-content: center;
    border:2px solid var(--purple);
    border-radius: 2px;
    padding: 4px 0;
    min-width: 20rem;
    margin-top: 20px;
}

.badge-item:hover {
    color: var(--body-bg-color);
    background-color: var(--purple);
}

/*SOCIAL ------------------------------*/

.social {
    margin-top: 40px;
}

.social a {
    margin-left: 10px;
    cursor: pointer;
    transition: .5s;
    display: inline-block;
}

.social a:hover {
    transform: translateY(-15px);
}

/*MEDIA QUERIES ------------------------------*/

@media(max-width:370px) {
    .badge-item {
        min-width: 17rem;
    }
    .circle {
        width:189px;
        height:188px;
    }
    .perfil {
        width:185px;
    }
}

@media(max-width:300px) {
    .badge-item {
        padding-top: 6px;
        padding-bottom:6px;
        min-width: 15rem;
    }
    .circle {
        width:170px;
        height:169px;
    }
    .perfil {
        width:166px;
    }
}

@media(max-width:250px) {
    .badge-item {
        padding-top: 6px;
        padding-bottom:6px;
        min-width: 7rem;
    }
    .circle {
        width:132px;
        height:130px;
    }
    .perfil {
        width:128px;
    }
}